.card img{
    height: 180px;
    border: none;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightsteelblue;
}
.card:hover{
    transform: translateX(3%);
    transform: translateY(3%);
    transform: translateZ(3%);
}